@{
    ViewBag.Title = "About us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
<p>- Al-rayan is a Sole Proprietorship by Muhammad Waseem</p>
<p>- Al-rayan.com was launched on 25th January 2006</p>
<p>- Al-rayan believes in providing Excellent services and After Sales service. </p>
<p>- We strongly believe that once customer is satisfied we are satisfied </p>
<p>- We believe in long term relationship with our customer, we do not want you to buy only once from shophive and not come back to us again and spread a bad word</p>
<p>- We believe once we provide good services, you will come back to us again.</p>
<p>- We are officialy signed up as business partners with many companies and Financial institutes for details write to us</p>
<p>- We listen to our customers and take complaints very seriously.
    <span><a href="mailto:complaints@example.com">complaints@alrayan.com</a></span>

</p>
    
     
    
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>