@using Online.Shopping.Store
@model IEnumerable<Product>

@{
    ViewBag.Title = "AdminPanel";
}

@{
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 <link href="~/Content/AdminPanel/Dashboard.css" rel="stylesheet" />
@*<link href="~/Content/ManagerIndex.css" rel="stylesheet" />*@
<style type="text/css">

    th
    {
        margin-right: 20px;
        margin-left: 20px;
        height:30px;
        border-bottom: 2px solid grey;
          background-color: #555555;
          color:silver;
          margin-top:0px;
          padding-top:0px;
    }

    td
    {
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom:20px;
        padding-left:10px;
        padding-right:20px;
    }
</style>


<div id="general">  
    <div class="left">

    </div> 
   <div class="right">
    <p id="AddNewItem">
         <h3>
           All Products
       </h3>
        <img src="~/Images/Admin%20Panel/create.png" z-index="1"position="absolute"/>&nbsp;&nbsp;
        @Html.ActionLink("Add New Product", "Create", new {@class="abc"})
    </p>


    <table id="table" style="margin-right: auto; margin-left: auto;">
        <tr>
            <th>
             Product Image
            </th>
            <th>
             &nbsp;&nbsp;&nbsp;  Product ID&nbsp;&nbsp;&nbsp;   
            </th>
            <th>
                Product Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            
                @*@Html.DisplayNameFor(model => model.ProductType)
                @Html.DisplayNameFor(model => model.pro)*@
            
            
               @* @Html.DisplayNameFor(model => model.ProductDepartment)*@
            
            <th>
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                  <td>
                       <b></b>
                      <img src="@Url.Content(item.ProductPicUrl)" alt="Un Available" height="70px"width="90px" /> 
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td> @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                
                  @*  @Html.DisplayFor(modelItem => item.ProductType)*@
                  @*  @Html.DisplayFor(modelItem => item.ProductDepartment)*@
                
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColor)
                </td>
                <td>
                    
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }

    </table>
   </div>
 </div>