@{
    ViewBag.Title = "Mobiles";
}

<h2>Mobiles</h2>

<ul id="product-list">
    <li>
        <img src="~/Images/myimages/nokia/nokia-mobiles-5233-.jpg" height="200" />
        
        @*<img src="~/Images/ProductPics/AFC Classic Harrington Jacket Sand.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Nokia", "Nokia", "Mobiles")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/samsung/s3.jpg" />
        @*<img src="~/Images/ProductPics/Cannon Hoody Grey.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("Samsung", "Samsung", "Mobiles")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/qmobile/Qmobile-Noir-A2.jpg" />
        @*<img src="~/Images/ProductPics/Script Crew Neck T-Shirt.jpg" width="300" height="300" />*@
           <h3 style="text-align:center">@Html.ActionLink("QMobile", "QMobile", "Mobiles")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/htc/wildf4s.jpg" />
        @*<img src="~/Images/ProductPics/Graphic Polo.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("HTC", "HTC", "Mobiles")</h3>
    </li>
    <li>
        <img src="~/Images/myimages/blackberry/bb%208900.jpg" />
        @*<img src="~/Images/ProductPics/Henry Legend T-Shirt.jpg" width="300" height="300" />*@
            <h3 style="text-align:center">@Html.ActionLink("BlackBerry", "BlackBerry", "Mobiles")</h3>
    </li>
</ul>